.appProfile {
    position: relative;
}

.dialogs {
    display: grid;

    grid-template-areas:
    "dialogs messages";

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    padding: 10px;
}

.dialogsItems {
    grid-area: dialogs;
}

.activeDialog {
    font-weight: bold;
}

.messagesItems {
    grid-area: messages;
}

.addMessage {
    position: absolute;
    right: 0px;
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.dialog {
    font-weight: bold;
}